body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerOne {
    text-align: center;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

li {
    list-style-type: none;
    
}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}